
@{
    ViewBag.Title = "Authorize";
}


<div class="error-500" data-text="Oh no! Xin lỗi bạn không có quyền gì để đăng nhập vào trang này :D!!">
    <a href="@Url.Action("Index","Homes")">
        <spaguetti>
            <fork></fork>
            <meat></meat>
            <pasta></pasta>
            <plate></plate>
        </spaguetti>
    </a>

</div>

<script>
        document.documentElement.style.setProperty('--error-message', '"401 Spaghetti Error"');
</script>
