
@{
    ViewBag.Title = "Error";
}

<div class="error-500" data-text="Oh no! Xin lỗi có lỗi gì đó. Vui lòng thử lại sau!!">
    <a href="@Url.Action("Index","Homes")">
        <spaguetti>
            <fork></fork>
            <meat></meat>
            <pasta></pasta>
            <plate></plate>
        </spaguetti>
    </a>

</div>