
@{
    ViewBag.Title = "PageNotFound";
}

<div class="error-500" data-text="Oh no! Xin lỗi trang bạn đang tìm kiếm không tồn tại!!">
    <a href="@Url.Action("Index","Homes")">
        <spaguetti>
            <fork></fork>
            <meat></meat>
            <pasta></pasta>
            <plate></plate>
        </spaguetti>
    </a>

</div>

<script>
        document.documentElement.style.setProperty('--error-message', '"404 Spaghetti Error"');
</script>
